
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">"error"</h1>
<h2 class="text-danger">"an error occured"</h2>
<h3> Development mode</h3>
<p>
    swapping to<strong>development</strong>environment will display more information about the error
</p>



